Flask==2.3.3
Flask-Cors==3.0.10
Flask-Session==0.6.0
Flask-SQLAlchemy==3.1.1
Werkzeug==2.3.3
click==8.1.7
mlflow==2.8.0
packaging==23.1
sahi==0.11.15
opencv-python==4.8.0.74
streamlit==1.32.2
